h1	{
	text-align: center ;
	color:red;
}

p {
    text-align: center ;
    background-color:  DeepSkyBlue ;
    font-family: Impact, Charcoal, sans-serif;
}

ul	{
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}